
body {
  background-image: url("bread.jpg");
  background-repeat: repeat;
}

header {
  background-color: #d19272;
}

#links,
#table,
#forma {
  background-color: #d19272;
}

.table th {
  background-color: #35170C;
  color: #f9f9f9;
}

.table td {
  background-color: #7b5641;
  color: #f9f9f9;
}

.rounded-section {
  border-radius: 30px;
}

.border-section {
  border: 5px solid #b47d5c;
}
